# Filtro cidade de São Paulo

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('./dados/microdados_enem_2019_sp.csv',
                    sep=';', encoding='utf-8')

In [3]:
dados.head()

,NU_INSCRICAO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q025
0,"1,90E+11",3546801,Santa Isabel,35,SP,22,M,1,3,1,...,6002.0,0,1.0,160.0,200.0,180.0,200.0,200.0,940.0,B
1,"1,90E+11",3538204,Pinhalzinho,35,SP,19,M,1,3,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A
2,"1,90E+11",3550308,São Paulo,35,SP,17,F,1,3,1,...,7318.0,0,1.0,160.0,120.0,200.0,200.0,200.0,880.0,A
3,"1,90E+11",3548708,São Bernardo do Campo,35,SP,19,M,1,3,1,...,3932.0,1,1.0,80.0,160.0,120.0,100.0,100.0,560.0,B
4,"1,90E+11",3549409,São Joaquim da Barra,35,SP,37,M,2,1,1,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B

In [4]:
# dados['NO_MUNICIPIO_RESIDENCIA'].unique()

In [5]:
dados = dados[dados['NO_MUNICIPIO_RESIDENCIA']=='São Bernardo do Campo'].reset_index(drop=True)

In [6]:
dados = dados[['NO_MUNICIPIO_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'NU_NOTA_REDACAO'	]]

In [7]:
dados['NU_NOTA_REDACAO'] = dados['NU_NOTA_REDACAO'].fillna(0)

In [8]:
dados.count()

NO_MUNICIPIO_RESIDENCIA    16237
NU_IDADE                   16237
TP_SEXO                    16237
NU_NOTA_REDACAO            16237
dtype: int64

In [9]:
dados.to_csv(f"./dados/dados_sao_berbardo_do_campo.csv", sep=";", index=False, header=False, encoding='utf-8')